name: SonarQube Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    # ==== JAVA ====
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: "17"
        distribution: "temurin"

    - name: Build backend + run tests + jacoco
      run: mvn -f backend-springboot/pom.xml clean verify

    # ==== PYTHON ====
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Python deps
      run: pip install -r microservice-python/requirements.txt

    - name: Run Python tests + coverage
      run: |
        cd microservice-python
        pytest --cov=./ --cov-report=xml

    # ==== SONAR SCANNER ====
    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@master
      env:
        SONAR_HOST_URL: https://sonarqubelts-community-production-42af.up.railway.app
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
